recipes/eopf/tests/ut/data/FAKE/S2B_OPER_MSI_L0__DS_2BPS_20221223T230531_S20221223T220352_N05.09/GRANULE/S2B_OPER_MSI_L0__GR_2BPS_20221223T230531_S20221223T220403_D03_N05.09/rep_info/Inventory_Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://psd-12.sentinel2.eo.esa.int/PSD/Inventory_Metadata.xsd" xmlns:date_time="https://psd-12.sentinel2.eo.esa.int/DICO/1.0/SY/date_time/" xmlns:item="https://psd-12.sentinel2.eo.esa.int/DICO/1.0/DataAccess/item/" xmlns:center="https://psd-12.sentinel2.eo.esa.int/DICO/1.0/PDGS/center/" targetNamespace="https://psd-12.sentinel2.eo.esa.int/PSD/Inventory_Metadata.xsd" elementFormDefault="qualified" version="12">
	<xs:import namespace="https://psd-12.sentinel2.eo.esa.int/DICO/1.0/DataAccess/item/" schemaLocation="DICO/1.0/DataAccess/item/item.xsd"/>
	<xs:import namespace="https://psd-12.sentinel2.eo.esa.int/DICO/1.0/PDGS/center/" schemaLocation="DICO/1.0/PDGS/center/center.xsd"/>
	<xs:import namespace="https://psd-12.sentinel2.eo.esa.int/DICO/1.0/SY/date_time/" schemaLocation="DICO/1.0/SY/date_time/date_time.xsd"/>
	<xs:element name="Inventory_Metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="File_ID">
					<xs:annotation>
						<xs:documentation>PDI_ID (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
							<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
							<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Parent_ID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>DataStrip PDI_ID (Applicable to Granule and Tile PDI linked to a DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="item:DATASTRIP_ID"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Group_ID">
					<xs:annotation>
						<xs:documentation>Label identifying all the PDIs that can be included in a User Product (Applicable to Granule, Tile and Datastrip PDI) (Applicable to Granule, Tile and DataStrip and PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="item:DATATAKE_ID"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="File_Name">
					<xs:annotation>
						<xs:documentation>Equal to File_ID metadata (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_D\d{2}_N\d{2}\.\d{2}"/>
							<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_A\d{6}_T[\w{Lu}_]{5}_N\d{2}\.\d{2}"/>
							<xs:pattern value="S2(A|B)_OPER_[\w{Lu}_]{10}_[\w{Lu}_]{4}_\d{8}T\d{6}_S\d{8}T\d{6}_N\d{2}\.\d{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="File_Version">
					<xs:annotation>
						<xs:documentation>Processing Baseline (Applicable to Granule, Tile and DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{1,2}\.[0-9]{1,2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="System">
					<xs:annotation>
						<xs:documentation>System where the PDI is generated by DPC or MCC  (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="S2PDGS-DPC"/>
							<xs:enumeration value="S2PDGS-MCC"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Source">
					<xs:annotation>
						<xs:documentation>PDI generator processor name (Applicable to Granule, Tile, DataStrip PDI) </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="L(0|1A|1B|1C)_Processor"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Source_Sw_Version">
					<xs:annotation>
						<xs:documentation>Version of the core component ie version of  DPC  (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{1,2}\.\d{1,2}(\.\d{1,2})*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Generation_Time">
					<xs:annotation>
						<xs:documentation>PDI Generation Time  (Applicable to Granule, Tile, DataStrip PDI) Template: UTC=2013-01-01T,5:11:10</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Validity_Start">
					<xs:annotation>
						<xs:documentation>Sensing Start Time or Validity Start Time (Applicable to Granule, Tile, DataStrip PDI) Template: UTC=2013-01-01T,5:11:10</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})?"/>
							<xs:pattern value="UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})? UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Validity_Stop">
					<xs:annotation>
						<xs:documentation>Sensing Stop Time or Validity Stop Time  (Applicable to Granule, Tile, DataStrip PDI)      Template: UTC=2013-01-01T,5:11:10</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})?"/>
							<xs:pattern value="UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})? UTC=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9]))))T(([0,1][0-9]|2[0-3])(:[0-5][0-9]){2})(\.\d{6})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Start_Orbit_Number">
					<xs:annotation>
						<xs:documentation>Start Absolute Orbit number (Applicable to Granule, Tile, DataStrip PDI)  </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{6}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Stop_Orbit_Number">
					<xs:annotation>
						<xs:documentation>Stop Absolute Orbit number will be the same of Start Absolute Orbit number (Applicable to Granule, Tile, DataStrip PDI)  </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{6}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Geographic_Localization">
					<xs:annotation>
						<xs:documentation>Granule/Tile/DataStrip footprint (Applicable to Granule, Tile and DataStrip PDI) </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GEO_TYPE">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Polygon"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="List_Of_Geo_Pnt">
								<xs:annotation>
									<xs:documentation>List of polygon vertex in term of (lat,lon) points, in counter-clockwise order</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Geo_Pnt" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LATITUDE">
														<xs:simpleType>
															<xs:restriction base="xs:float">
																<xs:minInclusive value="-90"/>
																<xs:maxInclusive value="+90"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LONGITUDE">
														<xs:simpleType>
															<xs:restriction base="xs:float">
																<xs:minInclusive value="-180"/>
																<xs:maxExclusive value="+180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="count" type="xs:positiveInteger" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Quality_Info">
					<xs:annotation>
						<xs:documentation>Percentage for PDI Quality Indicator (Applicable to Granule, Tile, DataStrip PDI) </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:float">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Data_Size" type="xs:string">
					<xs:annotation>
						<xs:documentation>PDI Size defined in Mb (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="File_Type">
					<xs:annotation>
						<xs:documentation>PDI File Type (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Detector" nillable="true" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Detector ID (Applicable for Granule PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="(0[1-9])"/>
							<xs:pattern value="1[012]"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="File_Class">
					<xs:annotation>
						<xs:documentation>Timeliness (Applicable to Granule, Tile and DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="RT"/>
							<xs:enumeration value="NRT"/>
							<xs:enumeration value="NOM"/>
							<xs:enumeration value="TEST-RT"/>
							<xs:enumeration value="TEST-NRT"/>
							<xs:enumeration value="TEST-NOM"/>
							<xs:enumeration value="NA"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Sensor_Code" fixed="MSI">
					<xs:annotation>
						<xs:documentation>MSI fixed string (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Sensor_Mode">
					<xs:annotation>
						<xs:documentation>MSI Image mode (Applicable to Granule, Tile and DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="3"/>
							<xs:enumeration value="NOM"/>
							<xs:enumeration value="DSC"/>
							<xs:enumeration value="ABC"/>
							<xs:enumeration value="VIC"/>
							<xs:enumeration value="RAW"/>
							<xs:enumeration value="TDI"/>
							<xs:enumeration value="NA_"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Acquisition_Station">
					<xs:annotation>
						<xs:documentation>Acquisition Station Code  (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="center:A_S2_ACQUISITION_CENTER"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Processing_Station">
					<xs:annotation>
						<xs:documentation>Processing Station Code, equal to System metadata  (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="center:A_S2_PROCESSING_CENTRE"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Satellite_Code" nillable="true">
					<xs:annotation>
						<xs:documentation>S2A or S2B. NIL if applicable to both satellites</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="S2A"/>
							<xs:enumeration value="S2B"/>
							<xs:enumeration value="NIL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Ascending_Flag">
					<xs:annotation>
						<xs:documentation>True if acquisition has been done during the ascending phase of the orbit (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="true"/>
							<xs:enumeration value="false"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CloudPercentage">
					<xs:annotation>
						<xs:documentation>Cloud coverage percentage (Applicable to Granule, Tile, DataStrip PDI)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:float">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
