recipes/eopf/tests/ut/data/FAKE/S2B_OPER_MSI_L0__DS_2BPS_20221223T230531_S20221223T220352_N05.09/rep_info/S2_PDI_Level-0_Datastrip_Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://psd-14.sentinel2.eo.esa.int/PSD/S2_PDI_Level-0_Datastrip_Metadata.xsd" xmlns:dimap="https://psd-14.sentinel2.eo.esa.int/DICO/PDI-V14/PDGS/dimap/" targetNamespace="https://psd-14.sentinel2.eo.esa.int/PSD/S2_PDI_Level-0_Datastrip_Metadata.xsd" elementFormDefault="qualified" version="14">
	<xs:import namespace="https://psd-14.sentinel2.eo.esa.int/DICO/PDI-V14/PDGS/dimap/" schemaLocation="DICO/PDI-V14/PDGS/dimap/dimap.xsd"/>
	<xs:element name="Level-0_DataStrip_ID" type="Level-0_Datastrip">
		<xs:annotation>
			<xs:documentation>Instance of the Level-0_DataStrip_ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Level-0_Datastrip">
		<xs:sequence>
			<xs:element name="General_Info" type="dimap:A_GENERAL_INFO_DS"/>
			<xs:element name="Image_Data_Info" type="dimap:AN_IMAGE_DATA_INFO_DSL0"/>
			<xs:element name="Satellite_Ancillary_Data_Info" type="dimap:AN_ANCILLARY_DATA_DSL0"/>
			<xs:element name="Quality_Indicators_Info" type="dimap:A_QUALITY_INDICATORS_INFO_DSL0"/>
			<xs:element name="Auxiliary_Data_Info" type="dimap:AN_AUXILIARY_DATA_INFO_DSL0"/>
		</xs:sequence>
		<xs:attribute name="datastripIdentifier" type="dimap:A_DATASTRIP_ID"/>
	</xs:complexType>
</xs:schema>
