recipes/eopf/tests/ut/data/FAKE/S2B_OPER_MSI_L0__DS_2BPS_20221223T230531_S20221223T220352_N05.09/GRANULE/S2B_OPER_MSI_L0__GR_2BPS_20221223T230531_S20221223T220403_D01_N05.09/rep_info/S2_PDI_Level-0_Granule_Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://psd-14.sentinel2.eo.esa.int/PSD/S2_PDI_Level-0_Granule_Metadata.xsd" xmlns:dimap="https://psd-14.sentinel2.eo.esa.int/DICO/PDI-V14/PDGS/dimap/" targetNamespace="https://psd-14.sentinel2.eo.esa.int/PSD/S2_PDI_Level-0_Granule_Metadata.xsd" elementFormDefault="qualified" version="12">
	<xs:import namespace="https://psd-14.sentinel2.eo.esa.int/DICO/PDI-V14/PDGS/dimap/" schemaLocation="DICO/PDI-V14/PDGS/dimap/dimap.xsd"/>
	<xs:element name="Level-0_Granule_ID" type="Level-0_Granule"/>
	<xs:complexType name="Level-0_Granule">
		<xs:sequence>
			<xs:element name="General_Info" type="dimap:A_GENERAL_INFO_L0_L1A_L1B"/>
			<xs:element name="Geometric_Info" type="dimap:A_GEOMETRIC_INFO_GRL0"/>
			<xs:element name="Quality_Indicators_Info" type="dimap:A_QUALITY_INDICATORS_INFO_GRL0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
