recipes/eopf/tests/ut/data/FAKE/S2B_OPER_MSI_L0__DS_2BPS_20221223T230531_S20221223T220352_N05.09/GRANULE/S2B_OPER_MSI_L0__GR_2BPS_20221223T230531_S20221223T220403_D11_N05.09/rep_info/OLQC_Report.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Thales (THALES INFORMATION SYSTEMS) -->
<xs:schema xmlns="http://gs2.esa.int/DATA_STRUCTURE/olqcReport" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gs2.esa.int/DATA_STRUCTURE/olqcReport" elementFormDefault="qualified" attributeFormDefault="unqualified" version="14">
	<xs:element name="Earth_Explorer_File">
		<xs:annotation>
			<xs:documentation>EOFFS entry point of this xml file</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="EarthExplorerFileType">
					<xs:sequence>
						<xs:element name="Earth_Explorer_Header" type="EarthExplorerHeaderType"/>
						<xs:element name="Data_Block" type="EarthExplorerDataBlockType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="report" type="ReportType">
		<xs:annotation>
			<xs:documentation>OLQC report</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="PassFailType">
		<xs:annotation>
			<xs:documentation>type defining Passed/Failed/Error status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="PASSED"/>
			<xs:enumeration value="FAILED"/>
			<xs:enumeration value="ERROR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CcsdsDateType">
		<xs:restriction base="xs:string">
			<xs:length value="23"/>
			<xs:pattern value="UTC=\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EarthExplorerFileType">
		<xs:annotation>
			<xs:documentation>EOFFS standard File type</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="EarthExplorerHeaderType">
		<xs:annotation>
			<xs:documentation>EOFFS header type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fixed_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="File_Name" type="xs:string">
							<xs:annotation>
								<xs:documentation>The name of the file (c.f. EOFFS std: MMM_CCCC_TTTTTTTTTT_*instance_id*)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="File_Description" type="xs:string">
							<xs:annotation>
								<xs:documentation>Fixed string "File to use to configure Amalfi"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Notes" type="xs:string"/>
						<xs:element name="Mission">
							<xs:annotation>
								<xs:documentation>Fixed string : Mission ID extracted from filename (MMM = "S2_"|"S2A"|"S2B")</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="S2_"/>
									<xs:enumeration value="S2A"/>
									<xs:enumeration value="S2B"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="File_Class" type="xs:string">
							<xs:annotation>
								<xs:documentation>File_Class extracted form filename (i.e. "OPER") - not fixed here. Please note that the File Class will be set
“OPER” for all products generated during
the operation phase. During validation or for
internal testing other values can be defined. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="File_Type">
							<xs:annotation>
								<xs:documentation>File type extracted from filename "TTTTTTTTTT" = FFFFDDDDDD
   whereFile Category       : "FFF" = "REP_"
Semantic Descriptor : "DDDDDD" = "OLQCPA" (See PSD-V05)
</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
									<xs:pattern value="REP_OLQCPA"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Validity_Period">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Validity_Start" type="CcsdsDateType">
										<xs:annotation>
											<xs:documentation>Date of report creation</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Validity_Stop" type="CcsdsDateType">
										<xs:annotation>
											<xs:documentation>MPA fixed end validity date for this file</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="File_Version">
							<xs:annotation>
								<xs:documentation>must be the same as ../../../Data_Block/report/@version </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:totalDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Source">
							<xs:annotation>
								<xs:documentation>source generated by MPA</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="System" type="xs:string"/>
									<xs:element name="Creator" type="xs:string"/>
									<xs:element name="Creator_Version" type="xs:string"/>
									<xs:element name="Creation_Date" type="CcsdsDateType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Variable_Header" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EarthExplorerDataBlockType">
		<xs:annotation>
			<xs:documentation>EOFFS datablock type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="report"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="xml"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="InspectionType">
		<xs:attribute name="creation" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>When the inspection has been created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="duration" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Elapsed time for this inspection.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="execution" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>When this inspection processing started.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The uniq identifier for this inspection. For sentinel-2 product. This identifier is prefixed with the S2 namespace. (i.e. "http://www.esa.int/s2#ispCategory")</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="item" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The item on which this inspection is attached. This item is not necessary the same as the one specified on the top level checklist definition. It can be a sub  item of the product.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="itemURL" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The URL pointing to the inspected item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Human readable name of this inspection.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="priority" type="xs:byte" use="required">
			<xs:annotation>
				<xs:documentation>Priority level of this inspection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="processingStatus" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The status of the inspection processing. Possible status in this report are "Done" when inspection performed, or "Canceled" if inspection process was cancelled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" type="PassFailType" use="required">
			<xs:annotation>
				<xs:documentation>Inspection result status : "PASSED" if the inspection successully processed, "FAILED" if the inspection does not reach expected values or "ERROR" if the inspector raise an error.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ItemType">
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>the url to the item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="className" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The human readable class name of this item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>the human readable name of this item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class" type="xs:anyURI" use="required">
			<xs:annotation>
				<xs:documentation>Drb class</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CheckListType">
		<xs:sequence>
			<xs:element name="parentID" type="xs:string">
				<xs:annotation>
					<xs:documentation>This field contains the name of OLQC GIPP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation> This field contains the  name of the checklist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation> This field contains the  version of the checklist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item" type="ItemType">
				<xs:annotation>
					<xs:documentation>the root item on which this checklist is applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="check">
					<xs:annotation>
						<xs:documentation>results of processed check.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="inspection" type="InspectionType">
								<xs:annotation>
									<xs:documentation>Amalfi inspection information entry that gather all the information use to retrieve the processed inspection in Amalfi addons.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="message">
								<xs:annotation>
									<xs:documentation>The inspection message formatted according to the contentType attribute.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="contentType">
												<xs:annotation>
													<xs:documentation>The content type of the message. Usually content type is set to 'text/plain".</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="extraValues" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This optional  field is used to make explicit
the values  present in the message field</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="name" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportType">
		<xs:sequence>
			<xs:element name="checkList" type="CheckListType">
				<xs:annotation>
					<xs:documentation>the list of checks</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="gippVersion" type="xs:token" use="required">
			<xs:annotation>
				<xs:documentation>The version of the GIPP used to produce this report.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="globalStatus" type="PassFailType" use="required">
			<xs:annotation>
				<xs:documentation>The global status of the instections gathered into this report.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The date of creation of this report.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
