recipes/xsd/test/hello.xsd

<?xml version="1.0"?>

<!--

file      : examples/cxx/tree/hello/hello.xsd
copyright : not copyrighted - public domain

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="hello_t">

    <xsd:annotation>
      <xsd:documentation>
        The hello_t type consists of a greeting phrase and a
        collection of names to which this greeting applies.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>

      <xsd:element name="greeting" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            The greeting element contains the greeting phrase
            for this hello object.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="name" type="xsd:string" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            The name elements contains names to be greeted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="hello" type="hello_t">
    <xsd:annotation>
      <xsd:documentation>
        The hello element is a root of the Hello XML vocabulary.
        Every conforming document should start with this element.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
