recipes/eopf/tests/ut/data/FAKE/S1A_IW_SLC__1SDV_20240926T060410_20240926T060432_055832_06D2A3_30C8.SAFE/support/s1-level-1-calibration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: s1-level-1-calibration.xsd 8756 2012-07-30 20:13:02Z rbarstow@DS.MDA.CA $ -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
   <xsd:include schemaLocation="s1-object-types.xsd"/>
   <xsd:complexType name="calibrationInformationType">
      <xsd:annotation>
         <xsd:documentation>Annotation record for calibration information.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="absoluteCalibrationConstant" type="float">
            <xsd:annotation>
               <xsd:documentation>Swath dependent absolute calibration constant.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="calibrationVectorType">
      <xsd:annotation>
         <xsd:documentation>Annotation record for a calibration vector at given zero Doppler azimuth time and two-way slant range time.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="azimuthTime" type="timeType">
            <xsd:annotation>
               <xsd:documentation>Zero Doppler azimuth time at which calibration vector applies.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="line" type="int32">
            <xsd:annotation>
               <xsd:documentation>Image line at which the calibration vector applies.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="pixel" type="intArray">
            <xsd:annotation>
               <xsd:documentation>Image pixel at which the calibration vector applies. This array contains the count attribute number of integer values (i.e. one value per point in the noise vectors), separated by spaces. The maximum length of this array will be one value for every pixel in an image line, however in general the vectors will be subsampled.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="sigmaNought" type="floatArray">
            <xsd:annotation>
               <xsd:documentation>Sigma nought calibration vector. This array contains the count attribute number of floating point values separated by spaces. The values in this vector are aligned with the pixel vector. </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="betaNought" type="floatArray">
            <xsd:annotation>
               <xsd:documentation>Beta nought calibration vector. This array contains the count attribute number of floating point values separated by spaces. The values in this vector are aligned with the pixel vector. </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="gamma" type="floatArray">
            <xsd:annotation>
               <xsd:documentation>Gamma calibration vector. This array contains the count attribute number of floating point values separated by spaces. The values in this vector are aligned with the pixel vector. </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dn" type="floatArray">
            <xsd:annotation>
               <xsd:documentation>Digital number calibration vector. This array contains the count attribute number of floating point values separated by spaces. The values in this vector are aligned with the pixel vector. </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="calibrationVectorListType">
      <xsd:annotation>
         <xsd:documentation>List of calibration vector annotation records.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="calibrationVector" type="calibrationVectorType" minOccurs="0" maxOccurs="1500">
            <xsd:annotation>
               <xsd:documentation>Calibration vector record. This record holds the calibration vectors and associated fields required to derive radiometrically calibrated imagery from the image MDS. With a minimum calibration vector update rate of of 1s and a maximum product length of 25 minutes, the maximum size of this list is 1500 elements. The azimuth spacing used will be different for different modes and product types. </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="count" type="unsignedInt" use="required">
         <xsd:annotation>
            <xsd:documentation>Number of calibrationVector records within the list.</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>
   <xsd:complexType name="l1CalibrationType">
      <xsd:annotation>
         <xsd:documentation>Annotation record for Sentinel-1 level 1 calibration product annotations.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="adsHeader" type="adsHeaderType">
            <xsd:annotation>
               <xsd:documentation>ADS header data set record. This DSR contains information that applies to the entire data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="calibrationInformation" type="calibrationInformationType">
            <xsd:annotation>
               <xsd:documentation>Calibration information. This DSR holds parameters applicable to the image calibration.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="calibrationVectorList" type="calibrationVectorListType">
            <xsd:annotation>
               <xsd:documentation>Calibration vector list. This element is a list of calibrationVector records that contain the absolute calibration vectors required to derive radiometrically calibrated imagery from the image MDS. This list contains an entry for each update made along azimuth.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="calibration" type="l1CalibrationType">
      <xsd:annotation>
         <xsd:documentation>Sentinel-1 level 1 calibration product annotations.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
