recipes/eopf/tests/ut/data/FAKE/S1A_IW_SLC__1SDV_20240926T060410_20240926T060432_055832_06D2A3_30C8.SAFE/support/s1-level-1-noise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: s1-level-1-noise.xsd 10799 2014-10-21 18:57:38Z cherbert $ -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="s1-object-types.xsd"/>
	<xsd:complexType name="noiseRangeVectorType">
		<xsd:annotation>
			<xsd:documentation>Annotation record for range noise vectors.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="azimuthTime" type="timeType">
				<xsd:annotation>
					<xsd:documentation>Zero Doppler azimuth time at which noise vector applies [UTC].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="line" type="int32">
				<xsd:annotation>
					<xsd:documentation>Image line at which the noise vector applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pixel" type="intArray">
				<xsd:annotation>
					<xsd:documentation>Image pixel at which the noise vector applies. This array contains the count attribute number of integer values (i.e. one value per point in the noise vector), separated by spaces. The maximum length of this array will be one value for every pixel in an image line, however in general the vectors will be subsampled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noiseRangeLut" type="floatArray">
				<xsd:annotation>
					<xsd:documentation>Range thermal noise correction vector power values. This array contains the count attribute number of floating point values separated by spaces. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="noiseRangeVectorListType">
		<xsd:annotation>
			<xsd:documentation>List of noise range vector annotation records.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="noiseRangeVector" type="noiseRangeVectorType" minOccurs="0" maxOccurs="1500">
				<xsd:annotation>
					<xsd:documentation>Noise range vector. This record contains the thermal noise estimation annotations which can be used to remove thermal noise from the image. With a minimum noise vector update rate of 1s and a maximum product length of 25 minutes, the maximum size of this list is 1500 elements. The azimuth spacing used will be different for different modes and product types.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of noiseRangeVector records within the list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="noiseAzimuthVectorType">
		<xsd:annotation>
			<xsd:documentation>Annotation record for azimuth noise vectors.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swath" type="swathType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Swath to which the noise vector applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstAzimuthLine" type="uint32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The first line at which this annotation applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstRangeSample" type="uint32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The first sample at which this annotation applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastAzimuthLine" type="uint32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The last line at which this annotation applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastRangeSample" type="uint32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The last sample at which this annotation applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="line" type="intArray">
				<xsd:annotation>
					<xsd:documentation>Image line at which the noise vector applies. This array contains the count attribute number of integer values (i.e. one value per point in the noise vector), separated by spaces. The maximum length of this array will be one value for every line in an image pixel, however in general the vectors will be subsampled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noiseAzimuthLut" type="floatArray">
				<xsd:annotation>
					<xsd:documentation>Azimuth thermal noise correction vector power values. This array contains the count attribute number of floating point values separated by spaces. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="noiseAzimuthVectorListType">
		<xsd:annotation>
			<xsd:documentation>List of noise azimuth vector annotation records.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="noiseAzimuthVector" type="noiseAzimuthVectorType" minOccurs="0" maxOccurs="1500">
				<xsd:annotation>
					<xsd:documentation>Noise azimuth vector. This record contains the thermal noise estimation annotations which can be used to remove thermal noise from the image.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of noiseAzimuthVector records within the list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="l1NoiseVectorType">
		<xsd:annotation>
			<xsd:documentation>Annotation record for Sentinel-1 level 1 noise product annotations.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="adsHeader" type="adsHeaderType">
				<xsd:annotation>
					<xsd:documentation>ADS header data set record. This DSR contains information that applies to the entire data set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noiseRangeVectorList" type="noiseRangeVectorListType">
				<xsd:annotation>
					<xsd:documentation>Range noise vector list. This element is a list of noiseRangeVector records that contain the range thermal noise estimation for the image MDS. The list contains an entry for each update made along azimuth.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noiseAzimuthVectorList" type="noiseAzimuthVectorListType">
				<xsd:annotation>
					<xsd:documentation>Azimuth noise vector list. This annotation divides the image in blocks providing a list of azimuth noise vector records that contain the thermal noise estimation for the block. The block belongs to a (sub-)swath (i.e. it can't cross by design two swaths) and it is delimited by firstAzimuthLine, lastAzimuthLine, firstRangeSample, lastRangeSample.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="noise" type="l1NoiseVectorType">
		<xsd:annotation>
			<xsd:documentation>Sentinel-1 level 1 thermal noise level product annotations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
