recipes/eopf/tests/ut/data/FAKE/S1A_IW_SLC__1SDV_20240926T060410_20240926T060432_055832_06D2A3_30C8.SAFE/support/s1-level-1-rfi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: s1-level-1-rfi.xsd 10799 2014-10-21 18:57:38Z nfranceschi $ -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="s1-object-types.xsd"/>
	<xsd:complexType name="rfiDetectionFromNoiseReportType">
		<xsd:annotation>
			<xsd:documentation>RFI report associated to a noise sequence.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swath" type="swathType">
				<xsd:annotation>
					<xsd:documentation>Swath to which the RFI report applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noiseSensingTime" type="timeType">
				<xsd:annotation>
					<xsd:documentation>Sensing time of the noise sequence [UTC].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rfiDetected" type="bool">
				<xsd:annotation>
					<xsd:documentation>True if RFI was detected in the noise sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxKLDivergence" type="float">
				<xsd:annotation>
					<xsd:documentation>Maximum value of the KL divergence statisatic in the noise sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxFisherZ" type="float">
				<xsd:annotation>
					<xsd:documentation>Maximum value of Fisher's Z statistic in the noise sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxRfiPsd" type="float">
				<xsd:annotation>
					<xsd:documentation>Maximum power spectral density recorded in a frequency bin containing RFI. It is zero if no RFI was found.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rfiDetectionFromNoiseReportListType">
		<xsd:annotation>
			<xsd:documentation>List of reports of the RFI detections performed on noise sequences.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rfiDetectionFromNoiseReport" type="rfiDetectionFromNoiseReportType" minOccurs="0" maxOccurs="1000">
				<xsd:annotation>
					<xsd:documentation>This record contains an RFI detection report associated to a noise sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of rfiDetectionFromNoiseReport records within the list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="timeDomainRfiReportType">
		<xsd:annotation>
			<xsd:documentation>Time domain RFI report.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="percentageAffectedLines" type="float">
				<xsd:annotation>
					<xsd:documentation>Percentage of level-0 lines affected by RFI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="avgPercentageAffectedSamples" type="float">
				<xsd:annotation>
					<xsd:documentation>Average percentage of affected level-0 samples in the lines containing RFI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxPercentageAffectedSamples" type="float">
				<xsd:annotation>
					<xsd:documentation>Maximum percentage of level-0 samples affected by RFI in the same line.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="frequencyDomainIsolatedRfiReportType">
		<xsd:annotation>
			<xsd:documentation>Frequency domain RFI report at burst level (isolated RFIs).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="percentageAffectedLines" type="float">
				<xsd:annotation>
					<xsd:documentation>Percentage of level-0 lines affected by isolated RFI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxPercentageAffectedBW" type="float">
				<xsd:annotation>
					<xsd:documentation>Max percentage of bandwidth affected by isolated RFI in a single line.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="frequencyDomainRfiBurstReportType">
		<xsd:annotation>
			<xsd:documentation>Frequency domain RFI report at burst level. Even if the frequency-domain mitigation algorithm subdivides the lines of the burst in multiple sub-blocks, this element only provides an aggregated report.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numSubBlocks" type="unsignedInt">
				<xsd:annotation>
					<xsd:documentation>Number of sub-blocks in the current burst.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subBlockSize" type="unsignedInt">
				<xsd:annotation>
					<xsd:documentation>Number of lines in each sub-block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isolatedRfiReport" type="frequencyDomainIsolatedRfiReportType">
				<xsd:annotation>
					<xsd:documentation>Report about the isolated RFI tones detected.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="percentageBlocksPersistentRfi" type="float">
				<xsd:annotation>
					<xsd:documentation>Percentage of processing blocks affected by persistent RFI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxPercentageBWAffectedPersistentRfi" type="float">
				<xsd:annotation>
					<xsd:documentation>Max percentage bandwidth affected by persistent RFI in a single processing block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rfiBurstReportType">
		<xsd:annotation>
			<xsd:documentation>RFI report at burst level. This record contains the time and frequency domain reports for a single TOPSAR burst.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swath" type="swathType">
				<xsd:annotation>
					<xsd:documentation>Swath to which the RFI report applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="azimuthTime" type="timeType">
				<xsd:annotation>
					<xsd:documentation>Zero Doppler azimuth time of the first line of the burst [UTC].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inBandOutBandPowerRatio" type="float">
				<xsd:annotation>
					<xsd:documentation>Ratio between the in-band and out-of-band power of the burst.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeDomainRfiReport" type="timeDomainRfiReportType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>RFI report of the time-domain mitigation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyDomainRfiBurstReport" type="frequencyDomainRfiBurstReportType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>RFI report of the frequency-domain mitigation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rfiBurstReportListType">
		<xsd:annotation>
			<xsd:documentation>RFI report list at burst level.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rfiBurstReport" type="rfiBurstReportType" minOccurs="0" maxOccurs="1000">
				<xsd:annotation>
					<xsd:documentation>RFI report at burst level. This record contains the time and frequency domain reports for a single TOPSAR burst.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of rfiBurstReport records within the list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="timeDomainRfiBlockReportType">
		<xsd:annotation>
			<xsd:documentation>Time domain RFI report list at block level.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swath" type="swathType">
				<xsd:annotation>
					<xsd:documentation>Swath to which the RFI report applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="azimuthTime" type="timeType">
				<xsd:annotation>
					<xsd:documentation>Zero Doppler azimuth time of the first line of the processing block [UTC].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeDomainBlockSize" type="unsignedInt">
				<xsd:annotation>
					<xsd:documentation>Number of lines in the time-domain block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeDomainRfiReport" type="timeDomainRfiReportType">
				<xsd:annotation>
					<xsd:documentation>RFI report of the time-domain mitigation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="timeDomainRfiBlockReportListType">
		<xsd:annotation>
			<xsd:documentation>Time domain RFI report at processing block level.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeDomainRfiBlockReport" type="timeDomainRfiBlockReportType" minOccurs="0" maxOccurs="1000">
				<xsd:annotation>
					<xsd:documentation>RFI time-domain report at block level. This record contains the time domain reports for a single processing block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of timeDomainRfiBlockReport records within the list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="frequencyDomainPersistentRfiFrequencyMaskType">
		<xsd:annotation>
			<xsd:documentation>Frequency domain RFI report at processing block level.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="frequencyAxisLen" type="unsignedInt">
				<xsd:annotation>
					<xsd:documentation>Number of bins in the frequency axis</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyAxisStep" type="float">
				<xsd:annotation>
					<xsd:documentation>Step in Hertz between frequency axis bins.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rfiMask" type="intArray">
				<xsd:annotation>
					<xsd:documentation>Frequency mask of the persistent RFI found in the block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="frequencyDomainRfiBlockReportType">
		<xsd:annotation>
			<xsd:documentation>Frequency domain RFI report at processing block level.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swath" type="swathType">
				<xsd:annotation>
					<xsd:documentation>Swath to which the RFI report applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="azimuthTime" type="timeType">
				<xsd:annotation>
					<xsd:documentation>Zero Doppler azimuth time of the first line of the processing block [UTC].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyDomainBlockSize" type="unsignedInt">
				<xsd:annotation>
					<xsd:documentation>Number of lines in the frequency-domain block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyDomainIsolatedRfiReport" type="frequencyDomainIsolatedRfiReportType">
				<xsd:annotation>
					<xsd:documentation>Frequency-domain RFI report for the isolated RFIs detected.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="percentageAffectedBWPersistentRFI" type="float">
				<xsd:annotation>
					<xsd:documentation>Percentage of bandwidth affected by persistent RFI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyDomainPersistentRfiFrequencyMask" type="frequencyDomainPersistentRfiFrequencyMaskType">
				<xsd:annotation>
					<xsd:documentation>Frequency mask of the persistent RFI found in the block</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="frequencyDomainRfiBlockReportListType">
		<xsd:annotation>
			<xsd:documentation>Frequency domain RFI report list at processing block level.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="frequencyDomainRfiBlockReport" type="frequencyDomainRfiBlockReportType" minOccurs="0" maxOccurs="1000">
				<xsd:annotation>
					<xsd:documentation>RFI frequency-domain report at block level. This record contains the frequency domain reports for a single processing block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation>Number of frequencyDomainRfiBlockReport records within the list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="rfiMitigationAppliedType">
		<xsd:annotation>
			<xsd:appinfo>CONVERT_FUNC_DEC: SKIP</xsd:appinfo>
			<xsd:appinfo>CONVERT_FUNC_DEF: SKIP</xsd:appinfo>
			<xsd:documentation>Enumeration of the type of RFI mitigation applied on the product.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="Time"/>
			<xsd:enumeration value="Frequency"/>
			<xsd:enumeration value="TimeFrequency"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="l1RfiType">
		<xsd:annotation>
			<xsd:documentation>Annotation record for Sentinel-1 level 1 RFI annotations.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="adsHeader" type="adsHeaderType">
				<xsd:annotation>
					<xsd:documentation>ADS header data set record. This DSR contains information that applies to the entire data set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rfiMitigationApplied" type="rfiMitigationAppliedType">
				<xsd:annotation>
					<xsd:documentation>Type of RFI mitigation applied to the data set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rfiDetectionFromNoiseReportList" type="rfiDetectionFromNoiseReportListType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>RFI report list of the RFI detections performed on each noise sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rfiBurstReportList" type="rfiBurstReportListType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>RFI report list at burst level. This element is a list of rfiBurstReport records that contain the time and freuency domain reports for each burst of the data set. This element can only be present in EW and IW modes if either time-domain or frequency-domain RFI mitigations are performed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeDomainRfiBlockReportList" type="timeDomainRfiBlockReportListType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time domain RFI report list at processing block level. This element is a list of timeDomainRfiBlockReport records that contain the time domain reports for each block of the data set. This element can only be present in SM and WV modes if time-domain RFI mitigation is performed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyDomainRfiBlockReportList" type="frequencyDomainRfiBlockReportListType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Frequency domain RFI report list at processing block level. This element is a list of frequencyDomainRfiBlockReport records that contain the frequency domain reports for each block of the data set. This element can only be present in SM and WV modes if frequency-domain RFI mitigation is performed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="rfi" type="l1RfiType">
		<xsd:annotation>
			<xsd:documentation>Sentinel-1 level 1 Radio Frequency Interference (RFI) product annotations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
