recipes/eopf/tests/ut/data/FAKE/S1A_IW_SLC__1SDV_20240926T060410_20240926T060432_055832_06D2A3_30C8.SAFE/support/s1-map-overlay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: s1-map-overlay.xsd 10288 2014-01-10 18:17:28Z cthain@DS.MDA.CA $ -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:complexType name="kmlType">
    <xsd:sequence>
      <xsd:element name="Document" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="kml" type="kmlType"/>
</xsd:schema>
