recipes/eopf/tests/ut/data/from_user/isp_mwr_bad_873/S3A_MW_0_MWR____20200121T043455_20200121T061705_20241211T084714_6129_054_076______LN3_O_NR_002.SEN3/ISPAnnotation.xsd

<xs:schema xmlns:sdf="http://www.gael.fr/2004/12/drb/sdf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esa.int/safe/sentinel-1.0/" targetNamespace="http://www.esa.int/safe/sentinel-1.0/">
    <xs:element name="ispanotations" type="ispannotationsType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="ispannotationsType">
        <xs:sequence>
            <xs:element name="annotation" type="annotationType" minOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <sdf:block>
                            <sdf:encoding>BINARY</sdf:encoding>
                            <sdf:occurrence>unbounded</sdf:occurrence>
                        </sdf:block>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="annotationType">
        <xs:sequence>
            <xs:element name="fepAnnotationData">
                <xs:annotation>
                    <xs:documentation>
                        FEP Annotation data
                    </xs:documentation>
                    <xs:appinfo>
                        <sdf:block>
                            <sdf:encoding>BINARY</sdf:encoding>
                            <sdf:length>18</sdf:length>
                        </sdf:block>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:list itemType="xs:unsignedByte"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="gpsTime" type="gpsTimeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gpsTimeType">
        <xs:sequence>
            <xs:element name="days" type="unsignedIntegerType"/>
            <xs:element name="seconds" type="unsignedIntegerType"/>
            <xs:element name="microseconds" type="unsignedIntegerType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="unsignedIntegerType">
        <xs:annotation>
            <xs:documentation>generic unsigned integer
            </xs:documentation>
            <xs:appinfo>
                <sdf:block>
                    <sdf:encoding>BINARY</sdf:encoding>
                    <sdf:length>4</sdf:length>
                </sdf:block>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>
</xs:schema>
