recipes/eopf/tests/ut/data/from_user/isp_mwr_bad_873/S3A_MW_0_MWR____20200121T043455_20200121T061705_20241211T084714_6129_054_076______LN3_O_NR_002.SEN3/ISPData.xsd

<xs:schema xmlns:sdf="http://www.gael.fr/2004/12/drb/sdf"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esa.int/safe/sentinel-1.0/"
	targetNamespace="http://www.esa.int/safe/sentinel-1.0/">
	<xs:element name="measurements" type="measurements" maxOccurs="1" minOccurs="1">
		<xs:annotation>
			<xs:documentation xml:lang="en" />
		</xs:annotation>
	</xs:element>
	<xs:complexType name="measurements">
		<xs:sequence>
			<xs:element minOccurs="1" name="isp" type="ispType">
				<xs:annotation>
					<xs:appinfo>
						<sdf:block>
							<sdf:encoding>BINARY</sdf:encoding>
							<sdf:occurrence>unbounded</sdf:occurrence>
						</sdf:block>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ispType">
		<xs:sequence>
			<xs:element name="primaryHeader" type="mainHeaderType" />
			<xs:element name="secondaryHeader" type="dataFieldHeaderType" />
			<xs:element name="sourceData">
				<xs:annotation>
					<xs:documentation xml:lang="en">Stream of binary
						packets after dataFiieldHeader</xs:documentation>
					<xs:appinfo>
						<sdf:block>
							<sdf:array>
								<sdf:occurrence query="packetDataLength - 64"
									constant="false" />
								<sdf:length>1</sdf:length>
							</sdf:array>
						</sdf:block>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:list itemType="xs:unsignedByte" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="errorControl" type="errorControlType" />
		</xs:sequence>
	</xs:complexType>
	<!--The main header covers 6 bytes. It is also named "primary header" or
		simply "packet header" -->
	<!-- ========================================================================== -->
	<xs:complexType name="mainHeaderType">
		<xs:sequence>
			<xs:element name="packetVersionNumber" type="packetVersionNumberType"
				fixed="0" />
			<xs:element name="packetType" type="packetTypeType" fixed="0" />
			<xs:element name="dataFieldHeaderFlag" type="dataFieldHeaderFlagType"
				fixed="0" />
			<xs:element name="PID" type="PIDType" />
			<xs:element name="PCAT" type="PCATType" />
			<xs:element name="groupingFlags" type="groupingFlagsType"
				fixed="3" />
			<xs:element name="sequenceCount" type="sequenceCountType" />
			<xs:element name="packetLength" type="packetLengthType" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="packetVersionNumberType">
		<xs:annotation>
			<xs:documentation>constant value = 000 (3 bits)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">3</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="packetTypeType">
		<xs:annotation>
			<xs:documentation>constant value = 0 (1 bit)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">1</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="dataFieldHeaderFlagType">
		<xs:annotation>
			<xs:documentation> constant value = 0 (1 bit)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">1</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="PIDType">
		<xs:annotation>
			<xs:documentation>function of instrument / mode (7 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">7</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="PCATType">
		<xs:annotation>
			<xs:documentation>function of instrument / mode (4 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">4</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="groupingFlagsType">
		<xs:annotation>
			<xs:documentation> constant value = 3 (2 bit)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">2</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="sequenceCountType">
		<xs:annotation>
			<xs:documentation>variable value = 0 to 16383 (wraps to 0) (14 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">14</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort" />
	</xs:simpleType>
	<xs:simpleType name="packetLengthType">
		<xs:annotation>
			<xs:documentation> number of forthcoming bytes till the end of the
				packet -1 (2
				bytes)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length>2</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="2" />
		</xs:restriction>
	</xs:simpleType>
	<!-- === End of mainHeaderType === -->
	<!--dataField is sometimes called secondary header, just before the source
		data (12 bytes) -->
	<!--It also is named PUS (Packet Utilization Standard) -->
	<!-- ====================================================================== -->
	<xs:complexType name="dataFieldHeaderType">
		<xs:sequence>
			<xs:element name="spareBit" type="spareBitType" fixed="0" />
			<xs:element name="PUSversion" type="PUSversionType" fixed="1" />
			<xs:element name="spare4Bit" type="spare4BitType" fixed="0" />
			<xs:element name="servicePacketType" type="servicePacketTypeType" />
			<xs:element name="servicePacketSubType" type="servicePacketSubTypeType" />
			<xs:element name="destinationID" type="destinationIDType"
				fixed="0" />
			<xs:element name="coarseTime" type="coarseTimeType" />
			<xs:element name="fineTime" type="fineTimeType" />
			<xs:element name="timeStatus" type="timeStatusType" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="spareBitType">
		<xs:annotation>
			<xs:documentation>constant value = 0 (1 bit)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">1</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="PUSversionType">
		<xs:annotation>
			<xs:documentation>constant value = 1 (1 bit)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">3</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="spare4BitType">
		<xs:annotation>
			<xs:documentation>constant value = 0 (4 bit)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">4</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="servicePacketTypeType">
		<xs:annotation>
			<xs:documentation>function of instrument / mode (8 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">8</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="servicePacketSubTypeType">
		<xs:annotation>
			<xs:documentation>function of instrument / mode (8 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">8</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<xs:simpleType name="destinationIDType">
		<xs:annotation>
			<xs:documentation>this is fixed to 0 by S3-SC-IF5-REQ-016 (8 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">8</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<!-- here comes TIME, which has format CUC = coarse (32bit), fine (24 bits)
		= 7 bytes (56 bits) -->
	<xs:simpleType name="coarseTimeType">
		<xs:annotation>
			<xs:documentation>coarse, over-second, interger seconds (32 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length>4</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt" />
	</xs:simpleType>
	<xs:simpleType name="fineTimeType">
		<xs:annotation>
			<xs:documentation> fine time, sub-seconds (24 bits)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length>3</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort" />
	</xs:simpleType>
	<xs:simpleType name="timeStatusType">
		<xs:annotation>
			<xs:documentation>0 or 1 if in OBT is in sync or not with GPS (8
				bits)</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length unit="bit">1</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte" />
	</xs:simpleType>
	<!-- === End of dataFieldHeaderType === -->
	<!-- errorControl is the CRC. See ECSS-E-70-41A on its Annex A for details -->
	<!-- ========================================================= -->
	<xs:simpleType name="errorControlType">
		<xs:annotation>
			<xs:documentation> CRC (primaryHeader + secondaryHeader + sourceData)
				[ (2
				bytes)
			</xs:documentation>
			<xs:appinfo>
				<sdf:block>
					<sdf:encoding>BINARY</sdf:encoding>
					<sdf:length>2</sdf:length>
				</sdf:block>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort" />
	</xs:simpleType>
	<!-- === End of packet definition === -->
</xs:schema>
